# Ignore local appsettings and database files
**/appsettings.Development.json
**/appsettings.Local.json
*.db
*.db-shm
*.db-wal

# Ignore build artifacts and IDE cache
bin/
obj/
.vs/
.vscode/

*.csproj.user
